Release
Debug

\.vs/AdotaPet\.WebApp/v15/

AdotaPet\.WebApp/bin/

\.vs/config/

AdotaPet\.WebApp/obj/Debug_E/

AdotaPet\.WebApp/obj/Debug_G/

AdotaPet\.WebApp/obj/Debug/

AdotaPet\.WebApp/bin/
AdotaPet\.WebApp/Connected Services/ApiCorreios
/UpgradeLog4.htm
/UpgradeLog3.htm
/UpgradeLog2.htm
/UpgradeLog.htm
/.vs/AdotaPet.WebApp/config/applicationhost.config
/.vs/AdotaPet.WebApp/v16/Server/sqlite3
 
/.vs/AdotaPet.WebApp/v16/.suo
